@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
	--green: rgb(0, 197, 16);
	--green-dark: rgb(0, 192, 16);
	--red: rgb(236, 0, 0);
	--red-dark: rgb(202, 0, 0);
	--orange: rgb(255, 136, 0);
	--dark: rgb(31, 31, 31);
	--btn-no-bg: rgba(255, 138, 59, 0.3);
	--btn-no-color: rgba(0, 0, 0, 0.5);
	--btn-no-border: 2px solid rgba(0, 0, 0, 0.2);

	--font-primary: "Nunito";
}

/* GENERAL */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:focus,
*:active {
	outline: none;
}

/* for number input - no arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

input,
button {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

/* for modals */
body.preventScroll {
	overflow: hidden;
	height: 100vh;
}

[type="text"],
button {
	border-radius: 4px;
}
button {
	padding: 0.2rem 0.5rem;
	background-color: var(--green);
	border: 2px solid var(--green-dark);
	color: white;
	cursor: pointer;
}
button:focus {
	box-shadow: 0px 0px 2px var(--green-dark);
}

html {
	font-family: var(--font-primary), sans-serif;
	font-weight: 400;
	background-image: url("../images/fresh-snow.jpg");
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 10px;
	margin: 0 auto;
	min-width: 300px;
	max-width: 600px;
}

h1 {
	font-size: 2.3rem;
	text-align: center;
	margin-bottom: 40px;
}

/* FORM */

form#new-change {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px 15px;
	margin-bottom: 2rem;
	width: 100%;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
form#new-change.cheer {
	animation: new-change-cheer 0.7s linear;
	-webkit-animation: new-change-cheer 0.7s linear;
}
@-webkit-keyframes new-change-cheer {
	0% {
		border-color: var(--orange);
		box-shadow: 0 0 0px var(--orange);
	}
	30% {
		box-shadow: 0 0 15px 8px var(--orange);
	}
	100% {
		box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0);
	}
}
@keyframes new-change-cheer {
	0% {
		border-color: var(--orange);
		box-shadow: 0 0 0px var(--orange);
	}
	30% {
		box-shadow: 0 0 15px 8px var(--orange);
	}
	100% {
		box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0);
	}
}
form p.add-new {
	flex: 100%;
	margin-bottom: 12px;

	font-size: 1.15rem;
	font-weight: 700;
	text-align: center;
}
form p.cheer-up {
	margin-top: 15px;
	text-align: center;
	width: 100%;
	font-size: 1rem;
}
form span.dash {
	position: relative;
	top: -3px;
	display: block;
	margin: 0 0.6rem;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}
form button[type="submit"] {
	flex-grow: 1;
	max-width: 100px;
	margin-left: 1rem;

	font-size: 1.1rem;
}
form button[type="submit"] i {
	font-size: 1rem;
	margin-left: 2px;
}
[type="text"] {
	flex-basis: 25%;
	min-width: 40px;
	max-width: 80px;
	border: 2px solid rgba(0, 0, 0, 0.25);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.01);
	font-size: 1rem;
}
[type="text"]:active,
[type="text"]:focus {
	border: 2px solid #007bff;
	background-color: #fff;
}
[type="text"].red {
	border-color: var(--red);
	box-shadow: 0px 0px 2px var(--red);
}
::-webkit-input-placeholder {
	opacity: 0.4;
}
::-moz-placeholder {
	opacity: 0.4;
}
:-ms-input-placeholder {
	opacity: 0.4;
}
::-ms-input-placeholder {
	opacity: 0.4;
}
::placeholder {
	opacity: 0.4;
}
::-webkit-input-placeholder {
	opacity: 0.4;
}
::-moz-placeholder {
	opacity: 0.4;
}
:-ms-input-placeholder {
	opacity: 0.4;
}
:-moz-placeholder {
	opacity: 0.4;
}

@media (min-width: 768px) {
	form#new-change {
		padding: 15px;
	}
	form p.add-new {
		font-size: 1.2rem;
	}
	form p.cheer-up {
		margin-top: 20px;
	}
}

/* ONE MINUTE CHANGES */

h2 {
	margin-bottom: 1rem;
	font-size: 1.7rem;
}

#oneMinuteChanges {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 40vh;
}
.change {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px 15px;
	margin-bottom: 1rem;
	width: 100%;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.chords {
	position: relative;
	flex-basis: 50%;
	min-width: 130px;
	max-width: 200px;
	padding-top: 12px;
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
}
.chords span.dash {
	font-weight: 700;
}
.change .best {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1rem;
	font-weight: 400;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.change .best span {
	margin-right: 3px;
}
.change .best br {
	display: none;
}
.change .btns {
	flex-basis: 40%;
	max-width: 110px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.btn-practice,
.btn-delete {
	font-size: 0.95rem;
	font-weight: 500;
}
.btn-practice {
	margin-bottom: 0.6rem;
	padding: 0.5rem 0;
	background-color: var(--green);
	order: 0;

	font-size: 1.07rem;
}
.btn-delete {
	background-color: var(--btn-no-bg);
	border: var(--btn-no-border);
	color: var(--btn-no-color);
	order: 1;
}
.btn-delete:focus {
	box-shadow: 0px 0px 2px var(--red-dark);
}

@media (min-width: 768px) {
	.change {
		justify-content: space-between;
		padding: 14px 15px;
		margin-bottom: 23px;
	}

	.chords {
		padding-top: 5px;
	}

	.change .best {
		top: 14px;
		font-size: 1.05rem;
		text-align: center;
	}

	.change .btns {
		flex-direction: row;
		flex-basis: unset;
		max-width: unset;
	}
	.change .btns button {
		padding: 4px 10px;
	}
	.btn-practice {
		order: 1;
		margin: 0 20px;
	}
	.btn-delete {
		order: 0;
	}
}

/* CHANGE DETAILS*/

.details {
	position: relative;
	flex: 100%;
	margin-top: 11px;
	margin-bottom: 10px;
	padding-top: 15px;
	border-top: 2px dashed rgba(0, 0, 0, 0.25);
}
.details h3 {
	text-align: center;
}
.details .graph {
	position: relative;
	width: 99%;
	margin-bottom: 10px;
}
.details .total-count {
	position: relative;
	z-index: 2;
	text-align: center;
}
.btn-show {
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: -10px;
	padding: 10px 1px 0 0;
	left: 50%;

	background-color: #fff;
	border: none;
	border-radius: 50%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2);
	transform: translateX(-50%);

	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	font-size: 1rem;

	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.btn-show:focus {
	box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2);
}
.btn-show i {
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
}
.btn-show i.rotate {
	transform: rotate(-180deg) translateY(3px);
	-webkit-transform: rotate(-180deg) translateY(3px);
	-moz-transform: rotate(-180deg) translateY(3px);
	-ms-transform: rotate(-180deg) translateY(3px);
	-o-transform: rotate(-180deg) translateY(3px);
}

/* MODALS */
#modals {
	position: relative;
	z-index: 100;
}

/* MODAL CONFIRM */
#modal-confirm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
#modal-confirm .card {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px 20px;
	background-color: #fff;
	width: 80vw;
	max-width: 800px;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	max-height: 50vh;
}
#modal-confirm p {
	font-size: 1.2rem;
	margin-bottom: 15px;
	text-align: center;
	width: 100%;
	color: var(--dark);
}
#modal-confirm button {
	margin: 0 10px;
	padding: 5px 20px;
	font-size: 1.3rem;
}
#modal-confirm button.no {
	background-color: var(--btn-no-bg);
	border: var(--btn-no-border);
	color: var(--btn-no-color);
}
@media (min-width: 768px) {
	#modal-confirm button {
		font-size: 1.2rem;
	}
}

/* MODAL PRACTICE */
#modal-practice {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.85);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.card-practice {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 400px;
	background-color: #fff;
	padding: 20px 5px 30px;
	text-align: center;
}
.card-practice .btn-close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	background-color: transparent;
	border: transparent;
	color: rgba(0, 0, 0, 0.8);
}
.card-practice h3 {
	font-size: 1.5rem;
}

.card-practice label {
	display: block;
	font-size: 1.1rem;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.card-practice label[disabled] {
	color: rgba(0, 0, 0, 0.5);
}
.card-practice [type="number"] {
	width: 80px;
	padding: 0.2rem 0.3rem;
	margin-bottom: 15px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.01);
	font-size: 1rem;
}
.card-practice [type="number"]:active,
.card-practice [type="number"]:focus {
	border: 2px solid #007bff;
	background-color: #fff;
}
.card-practice [type="number"][disabled] {
	border-color: rgba(0, 0, 0, 0.2);
}

.card-practice .btns button {
	width: 6rem;
	font-size: 1.05rem;
	margin: 0 10px;
}
.card-practice .btns button[disabled] {
	background-color: rgba(0, 0, 0, 0.01);
	border-color: rgba(0, 0, 0, 0.2);
	cursor: unset;
	color: rgba(0, 0, 0, 0.4);
}

.card-practice .btn-discard {
	background-color: var(--btn-no-bg);
	border: var(--btn-no-border);
	color: var(--btn-no-color);
}

#clock {
	position: relative;
	height: 200px;
}

p.counter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.7rem;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

svg line {
	stroke-width: 2px;
	stroke: #000;
}
svg line.orange {
	stroke: var(--orange);
	filter: drop-shadow(0 0 1px var(--red));
	-webkit-filter: drop-shadow(0 0 1px var(--red));
}
svg line.red {
	stroke: var(--red);
	filter: drop-shadow(0 0 2px var(--red));
	-webkit-filter: drop-shadow(0 0 2px var(--red));
}
svg line.green {
	stroke: var(--green);
	filter: drop-shadow(0 0 1px var(--green));
	-webkit-filter: drop-shadow(0 0 1px var(--green));
}

/* INFO PANEL */

#info-panel {
	position: fixed;
	top: 5vh;
	right: -90vw;
	padding: 10px 20px 20px;
	width: 90vw;
	background-color: #fff;
	border: 3px solid rgba(0, 0, 0, 0.4);
	border-right: none;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
	z-index: 10;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
#info-panel.show {
	right: -4px;
}
#info-panel h2 {
	text-align: center;
	color: var(--dark);
	margin-bottom: 0.4rem;
}
#info-panel p {
	font-size: 0.95rem;
	margin-bottom: 0.6rem;
}
#info-panel p i {
	font-size: 0.8rem;
}
#info-panel iframe {
	max-width: 100%;
}
#info-panel button {
	position: absolute;
	top: 40px;
	left: -30px;
	width: 30px;
	height: 50px;
	background-color: #fff;
	border: 3px solid rgba(0, 0, 0, 0.4);
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	font-size: 1.1rem;
	color: rgba(0, 0, 0, 0.8);
}
#info-panel button:focus,
#info-panel button:active {
	box-shadow: none;
}

@media (min-width: 768px) {
	#info-panel {
		width: 600px;
		right: -600px;
	}
	#info-panel button {
		left: -50px;
		width: 50px;
		height: 80px;
		font-size: 1.8rem;
	}
	#info-panel p {
		font-size: 1rem;
		margin-bottom: 0.6rem;
	}
	#info-panel p i {
		font-size: 0.85rem;
	}
}

/* BOTTOM BTNS */

.🔇,
.⬆️ {
	position: fixed;

	background: rgba(255, 255, 255, 1);
	border: 2px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 38px;
	height: 38px;
	text-decoration: none;
	cursor: pointer;

	color: var(--dark);
}
.🔇 {
	left: 0;
	bottom: 20px;
	font-size: 1.25rem;
}
.⬆️ {
	right: 0;
	bottom: 20px;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s ease-in-out;
	font-size: 1.3rem;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.⬆️.show {
	opacity: 1;
	pointer-events: all;
}

@media (min-width: 768px) {
	.🔇 {
		left: 25vw;
	}
	.⬆️ {
		right: 25vw;
	}
}

/* GUITAR IMAGE */

img.guitar {
	display: none;
	z-index: -1;
	position: fixed;
	bottom: 0;
	right: 20px;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
}

@media (min-width: 768px) {
	img.guitar {
		display: inline;
	}
}
